<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/form.css">
  <title>Document</title>
</head>

<body>
  <div id="feedback-query-list">
    <label for="registration-num">Registration Num <input class="registration-num" type="text"
        name="registration-num"></label>
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title">Rate the clarity and organization of the lecture content:
        </span>
      </div>
      <div class="rating">
        <input id="q1_1" type="radio" name="q1" value="1" /><label for="q1_1">1</label>
        <input id="q1_2" type="radio" name="q1" value="2" /><label for="q1_2">2</label>
        <input id="q1_3" type="radio" name="q1" value="3" /><label for="q1_3">3</label>
        <input id="q1_4" type="radio" name="q1" value="4" /><label for="q1_4">4</label>
        <input id="q1_5" type="radio" name="q1" value="5" /><label for="q1_5">5</label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">2</span>
        <span class="question-title">Rate the engagement level of the lecture:
        </span>
      </div>
      <div class="rating">
        <input id="q2_1" type="radio" name="q2" value="1" /><label for="q2_1">1</label>
        <input id="q2_2" type="radio" name="q2" value="2" /><label for="q2_2">2</label>
        <input id="q2_3" type="radio" name="q2" value="3" /><label for="q2_3">3</label>
        <input id="q2_4" type="radio" name="q2" value="4" /><label for="q2_4">4</label>
        <input id="q2_5" type="radio" name="q2" value="5" /><label for="q2_5">5</label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">3</span>
        <span class="question-title">Rate the lecturer's encouragement of participation and questions:
        </span>
      </div>
      <div class="rating">
        <input id="q3_1" type="radio" name="q3" value="1" /><label for="q3_1">1</label>
        <input id="q3_2" type="radio" name="q3" value="2" /><label for="q3_2">2</label>
        <input id="q3_3" type="radio" name="q3" value="3" /><label for="q3_3">3</label>
        <input id="q3_4" type="radio" name="q3" value="4" /><label for="q3_4">4</label>
        <input id="q3_5" type="radio" name="q3" value="5" /><label for="q3_5">5</label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">4</span>
        <span class="question-title">Rate the lecturer's ability to cover the learning objectives:
        </span>
      </div>
      <div class="rating">
        <input id="q4_1" type="radio" name="q4" value="1" /><label for="q4_1">1</label>
        <input id="q4_2" type="radio" name="q4" value="2" /><label for="q4_2">2</label>
        <input id="q4_3" type="radio" name="q4" value="3" /><label for="q4_3">3</label>
        <input id="q4_4" type="radio" name="q4" value="4" /><label for="q4_4">4</label>
        <input id="q4_5" type="radio" name="q4" value="5" /><label for="q4_5">5</label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">5</span>
        <span class="question-title">Rate your overall satisfaction with the lecture:
        </span>
      </div>
      <div class="rating">
        <input id="q5_1" type="radio" name="q5" value="1" /><label for="q5_1">1</label>
        <input id="q5_2" type="radio" name="q5" value="2" /><label for="q5_2">2</label>
        <input id="q5_3" type="radio" name="q5" value="3" /><label for="q5_3">3</label>
        <input id="q5_4" type="radio" name="q5" value="4" /><label for="q5_4">4</label>
        <input id="q5_5" type="radio" name="q5" value="5" /><label for="q5_5">5</label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <button class="button" id="submit-bttn" type="button" onclick="getSelectedValues()">
      Submit
    </button>
  </div>
  <script>
    function getSelectedValues() {
      const selectedValues = {};
      let i = 1;
      const regnum = document.querySelector('input[name="registration-num"]').value;
      console.log(regnum);
      selectedValues["regnum"] = regnum;
      const questions = document.querySelectorAll('input[type="radio"]');
      questions.forEach((question, index) => {
        if (question.checked) {
          selectedValues[`q${i++}`] = question.value;
        }
      });
      //sending this data to backend
      fetch('/submitform', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(selectedValues)
      })
        .then(response => response.json())
        .then(data => {
          console.log("Response from backend:", data);
        })
        .catch(error => {
          console.error("Error sending data:", error);
        })

      console.log('Selected Values:', selectedValues);
    }
  </script>

  <script>
    const inputR = document.querySelector('input[type="radio"]');
    const labelR = document.querySelector('label');
    if(inputR.checked){
      labelR.style.background = "#ffa14e";
    }
  </script>
</body>

</html>