* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 4vh 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efe9e9;
}
.registration-num{
  border: none;
  width: 64%;
  background-color: #6f6b6b38;
  margin-left: 0.5rem;
  border-radius: 5px;
  height: 2rem;
  padding: 0 0.5rem;
}
.hed{
  text-align: center;
  font-size: 1.5rem;
}
#feedback-query-list {
  background-color: #ffff;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  row-gap: 1.5rem;
  border-radius: 10px;
}

.rating {
  background-color: #bbd9f926;
  padding: 0.5rem 1rem;
  height: 2.4rem;
  border-radius: 5px;
  /* width: 25rem; */
  display: flex;
  justify-content: space-between;
}

.rating label {
  border-radius: 5px;
  margin-left: -3rem;
  /* margin-top: -0.2rem; */
  font-size: 1rem;
}

input[type="radio"]{
  width: 1rem;
  height: 1rem;
}

.marker {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;margin-top: 0.5rem;
  color: #00000061;
}

.button {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #295eff;
  color: #fff;
  border-radius: 5px;

}

