<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/form.css">
  <title>Document</title>
</head>

<body>
  <div id="feedback-query-list">
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title">Rate the clarity and organization of the lecture content:
        </span>
      </div>
      <div class="rating">
        <label><input type="radio" name="q1" value="1" /><span>1</span></label>
        <label><input type="radio" name="q1" value="2" /><span>2</span></label>
        <label><input type="radio" name="q1" value="3" /><span>3</span></label>
        <label><input type="radio" name="q1" value="4" /><span>4</span></label>
        <label><input type="radio" name="q1" value="5" /><span>5</span></label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">2</span>
        <span class="question-title">Rate the engagement level of the lecture:
        </span>
      </div>
      <div class="rating">
        <label><input type="radio" name="q2" value="1" /><span>1</span></label>
        <label><input type="radio" name="q2" value="2" /><span>2</span></label>
        <label><input type="radio" name="q2" value="3" /><span>3</span></label>
        <label><input type="radio" name="q2" value="4" /><span>4</span></label>
        <label><input type="radio" name="q2" value="5" /><span>5</span></label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">3</span>
        <span class="question-title">Rate the lecturer's encouragement of participation and questions:
        </span>
      </div>
      <div class="rating">
        <label><input type="radio" name="q3" value="1" /><span>1</span></label>
        <label><input type="radio" name="q3" value="2" /><span>2</span></label>
        <label><input type="radio" name="q3" value="3" /><span>3</span></label>
        <label><input type="radio" name="q3" value="4" /><span>4</span></label>
        <label><input type="radio" name="q3" value="5" /><span>5</span></label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">4</span>
        <span class="question-title">Rate the lecturer's ability to cover the learning objectives:
        </span>
      </div>
      <div class="rating">
        <label><input type="radio" name="q4" value="1" /><span>1</span></label>
        <label><input type="radio" name="q4" value="2" /><span>2</span></label>
        <label><input type="radio" name="q4" value="3" /><span>3</span></label>
        <label><input type="radio" name="q4" value="4" /><span>4</span></label>
        <label><input type="radio" name="q4" value="5" /><span>5</span></label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">5</span>
        <span class="question-title">Rate your overall satisfaction with the lecture:
        </span>
      </div>
      <div class="rating">
        <label><input type="radio" name="q5" value="1" /><span>1</span></label>
        <label><input type="radio" name="q5" value="2" /><span>2</span></label>
        <label><input type="radio" name="q5" value="3" /><span>3</span></label>
        <label><input type="radio" name="q5" value="4" /><span>4</span></label>
        <label><input type="radio" name="q5" value="5" /><span>5</span></label>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <button class="button" id="submit-bttn" type="submit">
      Submit
    </button>
  </div>


</body>

</html>