<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Log In</title>
</head>

<body>
    <section class="login-cont">
        <form id="loginForm" action="/login" method="post">
            <input class="form-input" type="text" name="username" placeholder="Username">
            <input class="form-input" type="password" name="password" placeholder="Password">
            <button class="login-button" type="submit">Login</button>
            <input type="hidden" name="authorization" value="Basic {{ username }}:{{ password }}">
        </form>
    </section> 
</body>

</html>